<!DOCTYPE html>
<html>
<head>
    <title>To-Do List App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="title-container">
        <h1>To-Do List App</h1>
    </div>
    <div class="form-container">
        <form action="/add" method="post">
            <input type="text" name="newTask" placeholder="Add new task">
            <input type="submit" value="Add">
        </form>
    </div>
    <div class="tasks-container">
        <ul>
            {% for task in tasks %}
                <li>
                    {% if task.completed %}
                        <strike>{{ task.task }}</strike>
                    {% else %}
                        {{ task.task }}
                    {% endif %}
                    <a href="{{ url_for('complete_task', task_id=task.id) }}">Complete</a>
                    <a href="{{ url_for('delete_task', task_id=task.id) }}">Delete</a>
                    <a href="{{ url_for('edit_task', task_id=task.id) }}">Edit</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>